// Drupal css for admin

// ul.navbar-menu {
//   font-size: inherit;
// }

// .container-inline {

//     div,
//     label {
//         display: inherit;
//     }

// }

.form-item,
.form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

.search-form {
    margin-bottom: 0;
}

.grippie {
    @extend .hide;
}

th.active {

    img {
        width: initial;
    }

}

.quickedit-toolbar.icon {
  display: block;
  width: 100%;
  height: 100%;
}

.quickedit-button.icon {
  line-height: normal;
  width: initial;
  height: initial;
}

ul.tabs,
ul.tabs.primary {
  margin-bottom: $paragraph-margin-bottom;
  background: $tab-background;

  > li {
    @extend .tabs-title;

    &.active {
      @extend .is-active;

      > a {
        color: $white;
        background: $tab-background-active;

        &:hover,
        &:focus {
          color: $white;
          background: $anchor-color-hover;
        }

      }

    }

    > a {
      color: $anchor-color;

      &:hover,
      &:focus {
        color: $anchor-color-hover;
        background: $tab-item-background-hover;
      }

    }

  }

}

.admin-links {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(50);
}

.messages {
  @extend .callout;

  &.error {
    @extend .callout.alert;
  }

  &.status {
    @extend .callout.success;
  }

  &.warning {
    @extend .callout.warning;
  }

}

.webform-confirmation {
  @extend .callout, .callout.success;
}

.error {
  color: $alert-color;
}

.status,
.webform-confirmation {
  color: $success-color;
}

.warning {
  color: $warning-color;
}