.button {
	font-weight: $global-weight-bold;
}

.fieldset-reset {
	border: $fieldset-border;
	padding: $fieldset-padding;
	margin: $fieldset-margin;
}

.container-inline {

	.form-type-checkbox {
		display: block;

		input,
		label {
			display: inline;
		}

	}

}

.search-form.search-form-custom {

	.button,
	button {
		margin-top: 0;
	}

	.button.expanded {
		display: inline-block;
	}

}

.form-required {
	@extend .error;
}

.search-box-input[type=search] {
	-webkit-appearance: none;
	border: 0;
}