.button {
	font-weight: $global-weight-bold;
}

.fieldset-reset {
	border: $fieldset-border;
	padding: $fieldset-padding;
	margin: $fieldset-margin;
}

legend {
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
}

.container-inline {

	.form-type-checkbox {
		display: block;

		input,
		label {
			display: inline;
		}

	}

}

.search-form.search-form-custom {

	.button,
	button {
		margin-top: 0;
	}

	.button.expanded {
		display: inline-block;
	}

}

.form-required {
	@extend .error;
}

.search-box-input[type=search] {
	-webkit-appearance: none;
	border: 0;
}

.form-item-submitted-date-year,
.form-item-submitted-date-month,
.form-item-submitted-date-day {
	display: inline-block;
}

.webform-component .form-type-checkbox {
	background-color: $input-background;
	padding: rem-calc(10 10 0);
	margin: rem-calc(0 10 16 0);
	display: inline-block;

	&:last-child {
		margin: 0;
	}

}

[class*="pass"] {
	background-color: scale-color($success-color, $lightness: 60%);
}

[class*="satisfactory"] {
	background-color: scale-color($warning-color, $lightness: 60%);
}

[class*="fail"] {
	background-color: scale-color($alert-color, $lightness: 60%);
}

.entitytype-reference_form-form .form-actions,
#entityreference-autofill-entityform-reference_form---field_company_name,
#entityreference-autofill-entityform-reference_form---field_client_address,
#entityreference-autofill-entityform-reference_form---field_phone_number,
#entityreference-autofill-entityform-reference_form---field_email,
#entityreference-autofill-entityform-reference_form---field_machine_model {
	display: none;
}