// mixins

@mixin small-portrait {

  @media screen and #{breakpoint(small down)} and #{breakpoint(portrait)} {
    @content;
  }

}

@mixin small-landscape {

  @media screen and #{breakpoint(small down)} and #{breakpoint(landscape)} {
    @content;
  }

}

@mixin medium-portrait {

  @media screen and #{breakpoint(medium only)} and #{breakpoint(portrait)} {
    @content;
  }

}

@mixin medium-landscape {

  @media screen and #{breakpoint(medium only)} and #{breakpoint(landscape)} {
    @content;
  }

}

@mixin scroll {
	white-space: nowrap;
	overflow-x: scroll;
	position: relative;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}