.logo-slogan {
	fill: $primary-color;
}

.mastercard-left,
.pal,
.corner {
	fill: #758DC6;
}

.wordmark,
.mastercard-right,
.pay,
.visa {
	fill: $secondary-color;
}

.mastercard-text,
.bg {
	fill: $white;
}