#slogan,
#logo-icon {
	fill: $primary-color;
}

#wordmark,
#logo-icon,
#slogan {
	transition: $transition-time;
    transition-timing-function: ease-in-out;
    -webkit-transition: $transition-time;
    -webkit-transition-timing-function: ease-in-out;
}

.mastercard-left,
.pal,
.corner {
	fill: #758DC6;
}

#wordmark,
.mastercard-right,
.pay,
.visa {
	fill: $secondary-color;
}

.mastercard-text,
.bg {
	fill: $white;
}