$primary-color-darker: #5a3512;
$primary-color-lighter: #c68e5a;
$primary-color-lighter-1: #d9b491;
$primary-color-lighter-2: #e1c3a7;
$primary-color-lighter-3: #e8d2bd;
$primary-color-lighter-4: #f0e1d3;
$primary-color-lighter-5: #f7f0e9;
$primary-color-lighter-6: #fdfaf8;

$secondary-color-lighter: #617dbe;
$secondary-color-lighter-1: #d8dfef;

$black-rgb: rgba(0,0,0, 0.99);
$grey: #3c3c3c;
$grey-1: #404040;
$grey-2: #4d4d4d;
$grey-3: #bebebe;
$grey-4: #e6e6e6;


$transition-time: 0.2s;
$asset-path: "..";

