<ul class="menu dropdown menu top-header-menu first-menu" data-dropdown-menu>
    <li>
        <a href="account"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>&nbsp;Hi Person!</a>
        <ul class="menu">
            <li id="" class=""><a href="#">Account</a></li>
            <li id="" class=""><a href="#">Orders</a></li>
            <li id="" class=""><a href="#">Logout</a></li>
        </ul>
    </li>
    <li>
        <a data-open="login-register" href="#"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>&nbsp;Login / Register</a>
        <div id="login-register" class="reveal" data-reveal>
            <div class="css-columns">
                <div class="login-column">
                    <h2>Login</h2>
                    <form>
                        <label>Email
                            <input type="email" placeholder="Enter your email">
                        </label>
                        <p><a href="#">Forgot email?</a></p>
                        <label>Password
                            <input type="password" placeholder="Enter your password">
                        </label>
                        <p><a href="#">Forgot password?</a></p>
                        <br>
                        <a role="button" aria-label="submit form" href="#" class="button">Login</a>
                    </form>
                </div>
                <div class="register-column">
                    <h2>Register</h2>
                    <form>
                        <label>Company Name
                            <input type="text" placeholder="Enter your company name">
                        </label>
                        <label>Contact Name
                            <input type="text" placeholder="Enter your contact name">
                        </label>
                        <label>Email
                            <input type="email" placeholder="Enter your email">
                        </label>
                        <label>Create Password
                            <input type="password" placeholder="Create a password">
                        </label>
                        <label>Repeat Password
                            <input type="password" placeholder="Repeat the password">
                        </label>
                        <p>
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">Agree to the <a href="terms.html" target="_blank">terms &amp; conditions</a></label>
                        </p>
                        <a role="button" aria-label="submit form" href="#" class="button">Register</a>
                    </form>
                </div>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </li>
    <li><a href="#"><svg class="icon icon-cart"><use xlink:href="#icon-cart"></use></svg>&nbsp;0 items</a></li>
</ul>



            <div class="row small-up-3">
                    <div class="column"><svg class="icon-logo paypal-logo" viewBox="0 0 293.8 194.4"><use xlink:href="#paypal-logo"></use></svg></div>
                    <div class="column"><svg class="icon-logo visa-logo" viewBox="0 0 293.8 194.4"><use xlink:href="#visa-logo"></use></svg></div>
                    <div class="column"><svg class="icon-logo paypal" viewBox="0 0 293.8 194.4"><use xlink:href="#mastercard-logo"></use></svg></div>
                </div>

<!-- Contact form -->

<input type="hidden" name="form_token" value="<?= $form['form_token']['#default_value'] ?>">